@import "base.less";
.gecko-main{
  position:relative;
  top:50px;
  .hidden{
    display:none;
  }
  .hidden-ajax{
    display:inline-block;
    width:32px;
    height:32px;
    background:url("../img/ajax-loader.gif");
    *{display:none;}
  }
  .gecko-dropToLeft{
    right:0;
    left:auto;
  }
  .pagination li.current{
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0;
  }
}
.gecko-login{
  max-width:300px;
  margin:0 auto 10px;
  input[type=password],input[type=text]{
    width:300px !important;
  }
}
