.gecko-main {
  position: relative;
  top: 50px;
}
.gecko-main [class~=hidden] {
  display: none;
}
.gecko-main .hidden-ajax {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("../img/ajax-loader.gif");
}
.gecko-main .hidden-ajax * {
  display: none;
}
.gecko-main .gecko-dropToLeft {
  right: 0;
  left: auto;
}
.gecko-main .pagination li.current {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-left-width: 0;
}
.gecko-login {
  max-width: 300px;
  margin: 0 auto 10px;
}
.gecko-login input[type=password],
.gecko-login input[type=text] {
  width: 300px !important;
}
ul.gecko-thumblist{
	list-style: none;
	padding:0;
	margin:0;
}
ul.gecko-thumblist li{
	display:block;
	min-height:100px;
	border:1px solid #dddddd;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	margin-top:5px;
	margin-bottom:5px;
	padding:5px;
}
ul.gecko-thumblist li:hover{
	background:#eeeeee;
}
ul.gecko-thumblist li .img{
	float:left;
	width:90px;
	height:90px;	
}
