/*
 * Base Css	
 */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	margin:0;
	padding:0;
}
body{
	font-family:Arial;
	-webkit-font-smoothing: antialiased;
	line-height:20px;
	color:white;
	font-size:12px;
	background: #061822;
	background-image:url("../img/bg.png");
}
a{
	text-decoration:none;
	color:#fe9b00;
}
a img {
	border:none;
}
/*
 * General use classes
 */
.holder{
	width:960px;
	margin-left:auto;
	margin-right:auto;
}
#main.holder{
	margin-top:55px;
}
[class^="group"]{
	overflow: hidden;
}
.clearboth{
	clear:both;
}
.group2{
	
}
.group3{
	
}
.group4{
	
}
.col{
	float:left;
}
.group3 .col{
	width:283px;
	margin-left:28px;
	margin-right:28px;
}
.group3.over{
	margin-left:-28px;
	margin-right:-29px;
}
.group3.over .marg{
	margin-left:28px;
	margin-right:29px;
}
.group4 .col{
	margin-left:17px;
	margin-right:17px;
}
.group4.over{
	margin-left:-17px;
	margin-right:-20px;
}
.group4.over .marg{
	margin-left:17px;
	margin-right:20px;
}
.articles h3{
	color:#3aded8;
	font-size:18px;
	font-weight:bold;
}
.articles h3 span{
	margin-left:17px;
}
.upper{
	text-transform:uppercase;
}
.b{
	font-weight:bold;
}
.arrow{
	color:#090909;
	margin-right:5px;
}
/*
.bar{
	width:100%;
	background:#090909;
	position:absolute;
	top:0;
	left:0;
}
*/
.divisor{
	width:100%;
	height:1px;
	background:white;
	clear: both;
	margin-top:19px;
	margin-bottom:19px;
}
.divisor.purple{
	background:#7761aa;
}
.divisor.orange{
	background:#e35760;
}
.divisor.yellow{
	background:#fecb07;	
}
.divisor.med{
	height:6px;
}
.divisor.nomarg{
	margin:0;
}
.divisor.nomarg-top{
	margin-top:0;
}
/*
 * Layout specifics
 */
#nav{
	font-weight:bold;
	font-size:15px;
	height:83px;
}
#nav .logo{
	float:left;
}
#nav ul{
	position:relative;
	top:33px;
	margin:0;
	margin-right:11px;
	padding:0;
	list-style:none;
	float:right;
}
#nav ul li{
	display:inline-block;
	margin-left:17px;
	margin-right:19px;
	float:left;
}
#nav ul li a{
	color:#3aded8;
	text-decoration:none;
}
#nav ul li a:hover,#nav ul li.active a, #nav ul li a.active{
	color:#ef585f;
}
.user-call{
	text-align:right;
	color:#7761aa !important;
	font-size:15px !important;
	font-weight: bold;
	margin-right:30px;
}
.user-call p{
	margin:0;
}
.humethumb img{
	max-width:215px;
}
.humethumb .plus{
	padding-left:12px;
	padding-right:12px;
	height:21px;
	line-height:21px;
	background:#FE9B00;
	display:block;
	font: Arial;
	font-size: 12px;
	font-weight:bold;
	color:#090909;
	text-align:center;
	vertical-align:middle;
	position:absolute;
	margin-left:147px;
	margin-top:115px;
}
#bottom .bottom-left{
	float:left;
	width:660px;
	margin-right:70px;
	color:#5d5d5d;
}
#bottom .bottom-left a{
	color:#5d5d5d;
}
#bottom .bottom-left a:hover{
	text-decoration: underline;
}
#bottom .bottom-left h3{
	color:#090909;
	font-size:12px;
}
#bottom .bottom-right{
	float:left;
}
