<?php 
	$trail = array(
		"Configurações"
	);
	echo $this->General->showTrail($trail);
	$users = $this->Html->url(array("controller" => "users", "action" => "index", "user" => true));
	$groups = $this->Html->url(array("controller" => "groups", "action" => "index", "user" => true));
?>
<h1>Configurações</h1>
<ul class="nav nav-pills">
	<li><a href="<?php echo $users?>">Gerenciar Usuários</a></li>
	<li><a href="<?php echo $users?>">Gerenciar Grupos</a></li>
	<li><a>Configurar informações do site</a></li>
</ul>